@model DebateApp.Client.Models.UserModel

@{
    ViewData["Title"] = "My Profile";
}

<h2>@Model.Username</h2>

<div>
    <h4>Astros: @Model.Astros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Astros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Astros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Login">log out</a>
</div>
